.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.searchInput {
  width: 300px !important;
}

.logoutButton {
  width: fit-content;
}

.tableContainer {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
}
